{{>header}}
{{>navbar}}
<section class="container my-5">
    <form method="post" action="/addLogic">
        <div class="mb-3">
            <input class="form-control" name="name" placeholder="name">
        </div>
        <div class="mb-3">
            <input class="form-control" name="email" placeholder="email">
        </div>
        <div class="mb-3">
            <button class="btn btn-primary">add user</button>
        </div>

    </form>
</section>
{{>footer}}