{{>header}}
{{>navbar}}
<section class="container my-5">
    <form method="post">
        <div class="mb-3">
            <input class="form-control" name="addrName" placeholder="address name">
        </div>
                <div class="mb-3">
            <input class="form-control" name="addrDetails" placeholder="address details">
        </div>

        <div class="mb-3">
            <button class="btn btn-primary">add address</button>
        </div>

    </form>
</section>
{{>footer}}