{{>header}}
{{>navbar}}
<section class="container my-5">
    <form method="post">
        <div class="mb-3">
            <input class="form-control" name="name" placeholder="name" value="{{result._id}}" disabled>
        </div>
        <div class="mb-3">
            <input class="form-control" name="name" placeholder="name" value="{{result.name}}">
        </div>
        <div class="mb-3">
            <input class="form-control" name="email" placeholder="email" value="{{result.email}}">
        </div>
        <div class="mb-3">
            <button class="btn btn-primary">edit user</button>
        </div>

    </form>
</section>
{{>footer}}