{{>header}}
{{>navbar}}
<section class="container my-5">
    <div class="alert alert-danger text-center">
        <h3>Page not found</h3>
        <a href="/" class="btn btn-primary">Back Home</a>
    </div>
</section>
{{>footer}}