{{>header}}
{{>navbar}}
<section class="container my-5">
    <form>
        <div class="mb-3">
            <input class="form-control" name="name" placeholder="name" value="marwa">
        </div>
        <div class="mb-3">
            <input class="form-control" name="email" placeholder="email" value="marwa@email.com">
        </div>
        <div class="mb-3">
            <button class="btn btn-primary">edit user</button>
        </div>

    </form>
</section>
{{>footer}}